services:
  - type: static_site
    name: elearning-frontend
    buildCommand: npm ci --legacy-peer-deps && npm run build
    staticPublishPath: ./build
    envVars:
      - key: NODE_VERSION
        value: 22.16.0
      - key: REACT_APP_API_BASE
        value: https://e-learning-backend-5rau.onrender.com/api/v1
      - key: GENERATE_SOURCEMAP
        value: false
    headers:
      - path: /*
        name: X-Frame-Options
        value: SAMEORIGIN
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
